:root {
    --primary-color: #F2D24E;
    --secondary-color: #1D1E1F;
    --light-color: #dcdcdc;
    --highlight-color: #edbf2f;
    --font-primary: "Press Start 2P", system-ui;
    --font-secondary: "Protest Strike", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.card {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 20px;
    display: flex;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(181, 165, 89, 0.09);
    transition: transform 0.2s ease-in-out;
    width: 800px;
}

.card img {
    border-radius: 10px;
    object-fit: cover;
    margin: 15px 0 15px 0;
    padding: 5px;
    border: 2px solid var(--primary-color);
}

.card-body {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    align-items: flex-start;
    width: 50%;
}

.shadowText {
    color: var(--light-color);
    margin-right: 5px;
}

.card h2 {
    font-size: 24px;
    color: var(--primary-color);
    padding-left: 10px;
    font-family: var(--font-primary);
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    width: 100%;
    padding-left: 10px;
    color: var(--primary-color);
    border-bottom: 1px solid #404040;
    margin-bottom: 5px;
    text-align: left;
    font-family: var(--font-secondary);
    display: flex;
    flex-direction: row;
}

.data-container {
    width: 100%;
}

.btnRandom {
    background-color: #131313;
    color: white;
    width: 350px;
    height: 60px;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: "Archivo Black", sans-serif;
    font-size: 16px;
}

.btnRandom:hover {
    border: 1px solid #ece6ab;
    box-shadow: 0px 0px 5px rgba(255, 237, 36, 0.71);
    background-color: var(--highlight-color);
    color: var(--secondary-color);
}

.text-red-500 {
    color: #e53e3e;
    width: 300px;
    height: 100px;
    background-color: #333333;
    border-radius: 10px;
    border: 2px solid #878787;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    text-align: center;
}

.mt-4 {
    margin-top: 1rem;
}

/* Анимации */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary-color);
    border-color: var(--primary-color) transparent var(--primary-color) transparent;
    animation: spin 1.2s linear infinite;
}

@keyframes skeleton-loading {
    0% {
        background-color: #333;
    }
    100% {
        background-color: #444;
    }
}

.skeleton {
    display: block;
    height: 1em;
    margin-left: 20px;
    width: 100px;
    border-radius: 4px;
    background: #333;
    animation: skeleton-loading 1.5s infinite ease-in-out;
}

.img-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-loader {
    width: 100px;
    height: 100px;
    border: 10px solid #e0e0e0;
    border-top: 10px solid var(--highlight-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    .card {
        width: 90%;
        flex-direction: column;

    }

    .img-wrapper, .card img {
        width: 100%;
        margin-top: 10px;

    }

    .card-body {
        align-items: center;
        width: 100%;
        padding-left: 0;
    }

    .card h2, .card p {
        padding: 0;
    }

    .btnRandom {
        width: 250px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    .card h2 {
        font-size: 30px;
    }
    .card p {
        font-size: 18px;
    }
}
